<ngx-loading [show]="loading" [config]="{ 
        backdropBackgroundColour: 'rgba(169,169,169,0.5)', backdropBorderRadius: '10px',
        primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>

<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                    <div class="col-lg-12">
                
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>List of all the Batteries </h4>
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="term">
                        <div class="ibox-tools">
                        <button style="margin-top: 5px;" type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal2">
                              <i class="fa fa-plus"></i>  
                            </button>
                            <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Add new Battery Model here</h4>
                                            <small class="font-bold">Added data will go directly in to the database</small>
                                        </div>
                                        <div class="modal-body">
                                         <div class="row">
                                                <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Battery Model Data</h3>

                                                    <p>Add battery Model data.</p>

                                                    <form role="form" #dataForm = "ngForm" (ngSubmit) = "add(dataForm.value)">

                                                        <div class="form-group"><label>Battery Serial #</label> <input type="text" placeholder="Battery Serial #" class="form-control" name="bs" ngModel></div>

                                                        <div class="form-group"><label>Lab Serial #</label> <input type="text" placeholder="Lab Serial #" class="form-control" name="ls" ngModel></div>
                                                        
                                                        <div class="form-group"><label>Volt</label> <input type="text" placeholder="Volt" class="form-control" name="volt" ngModel></div>
                                                          
                                                        <div class="form-group"><label>Resistance</label> <input type="text" placeholder="Resistance" class="form-control" name="resistance" ngModel></div>
                                                         
                                                        <div class="form-group"><label>Remarks</label> <input type="text" placeholder="Remarks" class="form-control" name="remarks" ngModel></div>
                                                        
                                                        <div>
                                                       
                                                            <button [disabled]="loading" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>submit</strong></button>
                                                           
                                                        </div>
                                                    </form>


                                                </div>
                                                <div class="col-sm-6"><h4>Don't know what this is?</h4>
                                                    <p>Better logout then</p>
                                                    <p class="text-center">
                                                        <a href=""><i class="fa fa-database big-icon"></i></a>
                                                    </p>
                                                 </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Battery Serial #</th>
                        <th>Lab Serial #</th>
                        <th>Volt</th>
                        <th>Resistance</th>
                        <th>Remarks</th>
                        <th>Status</th>
                        <th>Dispatch Type</th>
                        <th>Created At</th>
                        <th>Edit</th>
                        <th>Dispatch</th>
                        <th>Dispatch Date</th>
                        <th>Delete</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" *ngFor="let battery of batteries | filter:term
                    let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{battery.batterySerialNo}}</td>
                        <td>{{battery.labSerialNo}}</td>
                        <td>{{battery.volt}}</td>
                        <td>{{battery.resistance}}</td>
                        <td>{{battery.remarks}}</td>
                         <td><span *ngIf="battery.dispatch" class="label label-danger">Dispatched  </span>
                         <span *ngIf="!battery.dispatch" class="label label-danger">In Lab  </span>
                         </td>
                        <td> <span class="label label-primary"> {{battery.dispatchType}}</span></td>
                        <td class="center">{{battery.createdAt| date:"yMdjm"}}</td>
                        <td class="center"><a  [routerLink]="['/dashboard/orders/'+ id +'/'+ oid+'/'+ mid + '/' + battery._id ]"><span class="label label-warning"><i class="fa fa-cog"></i></span></a></td>
                        <td ><button [disabled]="battery.dispatch ||  battery.dispatchType === 'pending' "  (click) = "status(battery)" class="label label-info">Dispatch</button></td>
                        <td>{{battery.dispatchDate | date:"yMdjm"}}</td>
                        <td><button (click) = "delete(battery._id)" class="label label-danger">X</button></td>
                       
                    </tr>
                    </tbody>
                    <tfoot>
                     <tr>
                        <th>#</th>
                        <th>Battery Serial #</th>
                        <th>Lab Serial #</th>
                        <th>Volt</th>
                        <th>Resistance</th>
                        <th>Remarks</th>
                        <th>Status</th>
                        <th>Dispatch Type</th>
                        <th>Created At</th>
                        <th>Edit</th>
                        <th>Dispatch</th>
                        <th>Dispatch Date</th>
                        <th>Delete</th>
                    
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>


                <div class="ibox-content" >

                         
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                        Bulk Battery Addition  
                </button>

                
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>



         <div class="modal inmodal" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog">
                                    <div class="modal-content animated flipInY">
                                    <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Add Batteries</h4>
                                            <small class="font-bold">Scan and Add</small>
                                        </div>
                                        <div class="modal-body">

                                         <div class="row">
                                                <div class="col-sm-12"><h3 class="m-t-none m-b"></h3>

                                                     <form>

                                                        <div class="form-group col-sm-6"><label>Volt</label> <input [disabled]= "disableVolt" type="text" placeholder="Volt" class="form-control" name="bs" [(ngModel)]="volt" ></div>

                                                        <div class="form-group col-sm-6"><label>Resistance</label> <input [disabled]= "disableResistance" type="text" placeholder="Resistance" class="form-control" name="ls" [(ngModel)]="resistance" ></div>
                                                      
                                                        
                                                        <div>
                                                       
                                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" (click)="disableVoltandResistance()"><strong>Set</strong></button>
                                                           
                                                        </div>
                                                    </form>

                                                  

                                                </div>
                                             
                                        </div>
                                            <div class="row">

                                               <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Battery Serial #</th>
                                                        <th>Lab Serial #</th>
                                                        <td>Remove</td>
                                                        
                                                        
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="gradeX" *ngFor="let battery of batteriesBulk 
                                                    let i = index ">
                                                        <td>{{i+1}}</td>
                                                        <td>{{battery.batterySerialNo}}</td>
                                                        <td>{{battery.labSerialNo}}</td>
                                                        <td><a  (click)="removeFromBulk(i)"><span class="label label-warning"><i class="fa fa-times"></i></span></a></td>
                                                       
                                                       
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                     <tr>
                                                        <th>#</th>
                                                        <th>Battery Serial #</th>
                                                        <th>Lab Serial #</th>
                                                        <th>Remove</th>
                                                       
                                                    
                                                    </tr>
                                                    </tfoot>
                                                    </table>
                                                </div>

                                                <div class="col-sm-12"><h3 class="m-t-none m-b"></h3>

                                                     <form>

                                                        <div class="form-group col-sm-6"><label>Battery Serial #</label> <input type="text" placeholder="Battery Serial #" class="form-control" name="bs" [(ngModel)]="batterySerialNo" ></div>

                                                        <div class="form-group col-sm-6"><label>Lab Serial #</label> <input type="text" placeholder="Lab Serial #" class="form-control" name="ls" [(ngModel)]="labSerialNo"></div>
                                                      
                                                        
                                                        <div>
                                                       
                                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" (click)="addtoBulk()"><strong>Add</strong></button>
                                                           
                                                        </div>
                                                    </form>

                                                  

                                                </div>
                                             
                                        </div>
                                        
                                    </div>
                                     <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveBulkToDatabase()" >Submit</button>

                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>






