
<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="./assets/img/profile.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Usman Ali</strong>
                             </span> <span class="text-muted text-xs block">Manager Sales & Technology <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a [routerLink]="['/dashboard/home']">Profile</a></li>
                            <li><a [routerLink]="['/dashboard/profile']">Contacts</a></li>
                            <li><a [routerLink]="['/dashboard/events']">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        BMS
                    </div>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard/home']"  ><i class="fa fa-user"></i> <span class="nav-label">Clients</span></a>
                   
                   
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard/profile']" ><i class="fa fa-shopping-cart"></i> <span class="nav-label">Orders</span></a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard/events']" ><i class="fa fa-calendar"></i> <span class="nav-label">Battery Models</span></a>
                   
                </li>
               <!--  <li  routerLinkActive="active">
                    <a [routerLink]="['/dashboard/startups']" ><i class="fa fa-star"></i> <span class="nav-label">Startup</span></a>
                   
                </li> -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard/about']" ><i class="fa fa-info-circle"></i> <span class="nav-label">About</span></a>
                   
                </li>
               
            </ul>

        </div>
    </nav>

   

